:root {
  --basic-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-text-logo-color: #2196f3;
  --secondary-bakground-color: #2f303a;
  --main-background-color: #ffffff;
  --tertiary-background-color: #f5f4fa;
  --logo-accent-header-color: #000000;
  --button-background-color: #2196f3;
  --button-hover-background-color: #188ce8;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --filter-shadow-one-color: rgba(0, 0, 0, 0.1);
  --filter-shadow-two-color: rgba(0, 0, 0, 0.08);
  --filter-shadow-three-color: rgba(0, 0, 0, 0.12);
  --contact_link_color: rgba(255, 255, 255, 0.6);
  --button-border-color: #f5f4fa;
}

body {
  background-color: var(--main-background-color);
  color: var(--basic-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Logo, head and footer logo */
.logo {
  color: var(--accent-text-logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent-black {
  color: var(--logo-accent-header-color);
}

.logo .accent-white {
  color: var(--white-text-color);
}

.list {
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-logo-color);
}

.site-nav .link-current {
  color: var(--accent-text-logo-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Contact nav */

.contact-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-logo-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-bakground-color);
  color: var(--white-text-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Button */

.button {
  background-color: var(--button-background-color);
  color: var(--white-text-color);
  border: var(--button-background-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  vertical-align: center;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-background-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
}

/* Section and team titles */

.section-title,
.team-title {
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.37;
  text-align: center;
}

/* features */

.features .features-title {
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Section Team */

.section-team {
  background-color: var(--tertiary-background-color);
}

.team .team-part {
  background-color: var(--main-background-color);
}

.team-part .team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-part .team-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.footer {
  background-color: var(--secondary-bakground-color);
}

.contact-adress .a-contact,
.contact .contact-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.contact-adress .a-contact {
  color: var(--white-text-color);
}

.contact .contact-link {
  color: var(--contact_link_color);
}

.contact .contact-link:hover {
  color: var(--accent-text-logo-color);
}

/* button portfolio */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button-portfolio {
  background-color: var(--tertiary-background-color);
  color: var(--basic-text-color);
  border: var(--button-border-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--button-background-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px var(--filter-shadow-one-color), 0px 1px 2px var(--filter-shadow-two-color),
    0px 2px 2px var(--filter-shadow-three-color);
  border-radius: 4px;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-subtitle {
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
}
